# Dependencies
node_modules/
.npm
dist/
dist-ssr
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist
build
.vercel
.output

# OS
.DS_Store
Thumbs.db
